<div class="auth-content">

  {not-auth}
  <div class="window">

    <div class="text-center pt-4">Регистрация</div>

    <form class="text-right p-4" action="" method="POST" id="registerUser">
      <input class="form-control mb-2" type="text" name="login" placeholder="Логин">
      <input class="form-control mb-2" type="text" name="password" placeholder="Пароль">
      <button type="button" class="btn btn-sm btn-primary" onclick="sendRequest('registerUser', '/register');">Продолжить</button>
    </form>

    <div class="text-center pb-4">
      <a href="/" type="button" class="btn btn-sm btn-success">Авторизация</a>
      <a href="/restore" type="button" class="btn btn-sm btn-light">Забыли пароль?</a>
    </div>

  </div>
  {/not-auth}
  
</div>